th, td {
    padding: 8px;
    text-align: left;
}

th, td{
    padding:0.8rem;
    position:relative;
    cursor:default;
}


th{
    text-transform:uppercase;
    background-color: rgb(207, 219, 219);
}

tr{
    border-bottom: rgb(4, 4, 4);
}
tr:hover{
    background-color:#dfd6d670;
}


