@import url("https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  color:white;
  background: black;

}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
